/************* Import fonts ***************/
/*Montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*Berkshire Swash*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Define las variblaes de color */
:root {
	/* La anchura de pantalla minima que se tiene que tener en cuenta en el diseño responsive */
	--min-width: 320px;

	/*EXPLICACIÓN DE LAS VARIABLES DE COLOR*/
	/*Se han definido variables de color con nombres descriptivos. Luego se han creado variables con nombres funcionales 
	que hacen referencia a los elementos a los que se aplican. Estas variables hacen referencia a las variables de 
	color con nombres descriptivos. Solo se usan las variables con nombres funcionales en el código CSS. De esta 
	manera, si se desea cambiar la esquema de color, solo se tienen que cambiar las variables de color con nombres
	descriptivos, y los cambios se reflejarán en todo el sitio.*/

	/***************variables de los colores con nombres descriptivos*************/
	--color-green: #4e6a52;
	--color-slightly-lighter-green: #5e7a62;
	--color-light-green: #a8d5ba;
	--color-dark-green: #354f3a;
	--color-darker-green: #27302e;
	--color-translucent-green: rgba(78, 106, 82, 0.7);
	--color-light-beige: #f5efe3;
	--color-orange: #e07b4e;
	--color-light-gray: #9c9c9c;
	--color-white: #ffffff;

	/***************variables con nombres funcionales*****************************/
	/*Colores de fondo*/
	--color-bg-header: var(--color-green);
	--color-bg-hero-title-container: var(--color-translucent-green);
	--color-bg-card: var(--color-green);
	--color-bg-footer: var(--color-darker-green);
	--color-bg-contact-button: var(--color-orange);
	--color-bg-current-page-link: var(--color-slightly-lighter-green);

	/*Colores de texto*/
	--color-text-primary: var(--color-dark-green);
	--color-text-secondary: var(--color-light-beige);
	--color-h1: var(--color-light-beige);
	--color-h2: var(--color-dark-green);
	--color-text-header: var(--color-light-beige);
	--color-header-link-hover: var(--color-green);
	--color-header-link-hover-underline: var(--color-light-beige);
	--color-footer-h2: var(--color-white);
	--color-footer-h3: var(--color-orange);
	--color-footer-text: var(--color-light-gray);
	--color-footer-links-hover: var(--color-white);

	/*Colores de otros elementos*/
	--color-footer-hr: var(--color-light-gray);
}

/* Base styles */
html {
	font-family: "Montserrat", sans-serif;
	color: var(--color-text-primary);
	font-size: 18px;
	text-align: center;
}

/* Quitar el margen y el relleno predeterminado */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	max-width: 1440px;
}

p {
	line-height: 1.5;
}

h1,
h2 {
	font-family: "Berkshire Swash", cursive;
}

h1 {
	font-size: 3rem;
	margin: 10px;
}
h2 {
	font-size: 2.5rem;
	color: var(--color-green);
	margin-bottom: 10px;
}
h3 {
	font-size: 1.5rem;
}

button {
	font-size: 1rem;
	transition: filter 0.3s;
}

button:hover {
	filter: brightness(1.2);
}

/* Sobrescribir los estilos predeterminados de <abbr> */
abbr {
	font-style: normal;
	text-decoration: none;
	border: none;
}

/*************** Header ***************/
header {
	background-color: var(--color-bg-header);
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
}

nav a {
	color: var(--color-text-header);
	text-decoration: none;
}

nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

nav ul li {
	padding: 8px 15px;
	margin: 15px 10px;
	border-radius: 5px;
}

nav ul li a:hover {
	text-decoration: underline;
	text-decoration-color: var(--color-header-link-hover-underline);
	color: var(--color-header-link-hover);
}

.current-page-link {
	background-color: var(--color-bg-current-page-link);
}

/**************** Hero ***********************/
.hero {
	position: relative;
	margin: 0 20px;
}

.hero img {
	width: 100%;
	height: auto;
}
/* Position: absolute causa que al padding lateral no tenga el efecto esperado sobre el contenido */
.hero .title-container {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-translucent-green);
	color: var(--color-h1);
	border-radius: 8px;
	box-sizing: border-box;
}

.title-container h1,
.title-container p {
	padding: 0px 18px;
	margin: 15px;
}

.title-container h1 {
	padding-top: 5px; /* Se aplica a <p> porque el contenador tiene posicionamiento absoluto, y el padding lateral no tiene efecto */
}

/* Section - global styles */
section,
footer {
	padding: 5px 10px 30px 10px;
}

/*****************  Welcome to a Sustainable Future*********************/
.welcome-section {
	background: linear-gradient(
		180deg,
		var(--color-light-beige),
		var(--color-white)
	);
}
/****************** Key initiatives **********************/

.key-initiatives-section h2 {
	display: none;
}

/****************** Take Action for a Green Plant**********************/
.take-action-section {
	background: linear-gradient(
		160deg,
		var(--color-light-beige),
		var(--color-light-green)
	);
	padding-top: 200px;
	padding-bottom: 200px;
	position: relative;
	overflow: hidden;
	border-style: none;
	outline: none;
}

/*Crea un elemento curvado con un pseudo-elemento*/
.take-action-section::before {
	content: "";
	position: absolute;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	width: 130%; /* Mas ancho que el viewport para que solo un segmento del circulo forma la curva */
	height: 200px; /* Height forms a larger circle for a shallow curve */
	background: #ffffff;
	border-radius: 50%; /* Ensures it's a perfect circle */
	overflow: hidden;
}

/* Se aplica a la imagen recycle.png */
.take-action-section img {
	max-width: 80%;
}

.take-action-section p {
	padding: 0 21px;
}

.take-action-section button {
	background-color: var(--color-bg-contact-button);
	color: var(--color-text-secondary);
	padding: 15px 30px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

/***************** Card ***********************/
.card {
	background-color: var(--color-bg-card);
	color: var(--color-text-secondary);
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
}

.card img {
	width: 25%;
	height: auto;
}

.card > p {
	font-size: 0.9rem;
}

/***************** Footer ***********************/

footer {
	background-color: var(--color-bg-footer);
	color: var(--color-footer-text);
}

footer h2 {
	color: var(--color-footer-h2);
}

/* Organizar los elementos de la listas de navegación del pie de página en una columna */
footer nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* El selector con nav es necesario para aumentar la especificidad y sobrescrbir el estilo global de h3 */
footer nav h3 {
	color: var(--color-footer-h3);
	font-size: 1.2rem;
}

/* Quitar el margen y el relleno predeterminado de los elementos de la lista de navegación del pie de página */
footer menu {
	margin: 0;
	padding: 0;
}

/* Elementos de los nav menus*/
footer li {
	margin: 10px 0;
	display: flex;
	justify-content: center;
	list-style-type: none;
}

/* Clase genérica para todos los enlaces del footer */
.footer-link {
	color: var(--color-footer-text); /* Social icons color */
	text-decoration: none; /*Quitar el subrayado pretermindado de los iconos sociales */
	transition: color 0.3s ease; /* Efecto de transición para los iconos sociales */
	cursor: pointer;
}
.footer-link:hover {
	color: var(--color-footer-links-hover); /* Hover effect for social icons */
}

/* Posicionar los iconos de contacto  */
footer .contact-icon {
	margin-right: 20px;
	margin-top: 3px;
}

/* Social media icons */
footer .social-icons-menu {
	display: flex; /* Organizar los iconos sociales en una fila*/
	justify-content: center; /* Centrar los iconos sociales */
	gap: 15px; /* Espacio entre los iconos sociales */
	font-size: 1.5rem; /* Tamaño de los iconos sociales */
}

footer hr {
	margin: 30px 10px 40px 10px; /* Para ampliar la distancia entre la línea horizontal y los elementos de la lista de navegación */
	height: 1px;
	background-color: var(--color-footer-hr);
	color: var(--color-footer-hr);
	border: none;
}
